body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.header {
    padding: 60px 80px 40px;
}

.main {
    display: flex;
    align-items: center;
    color: white;
}

.main img {
    padding: 50px 50px 0px 80px;
    width: 1009px;
}

.main .descricao {
    margin-bottom: 140px;
}

.main h1 {
    width: 500px;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 600;

}

.main p {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
    width: 610px;
}

.main a {
    display: flex;
    background-color: white;
    width: 240px;
    height: 65px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 20px;
    color: hsl(257, 40%, 49%);
    transition: 0.3s;
    box-shadow: 2px 2px 40px -6px black;
}

.footer {
    display: flex;
    justify-content: flex-end;
    max-width: 1750px;
}

.footer ul {
    display: flex;
}

.footer li {
    padding: 10px;
}

.footer a {
    display: flex;
    width: 55px;
    height: 53px;
    border: solid 1px;
    color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.footer .fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    transition: 0.3s;
}

.main a:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}

.footer a:hover,
.fab:hover {
    color: hsl(300, 69%, 71%);
}




