@media (max-width: 1440px) {
.main img {
    min-width: 200px;
    max-width: 709px;
}

.main .descricao {
    margin-bottom: 0px;
}

.main h1 {
    font-size: 38px;
    margin-bottom: 15px;
    max-width: 440px;
}

.main p {
    font-size: 19px;
    max-width: 530px;
    margin-bottom: 20px;
}

.main a {
    width: 200px;
    height: 50px;
    font-size: 17px;
}

.footer {
    max-width: 1250px;
}

.footer a {
    width: 47px;
    height: 45px;
}

.footer .fab {
    width: 45px;
    height: 45px;
    font-size: 22px;
}
}

@media (max-width: 1100px) {
.main h1 {
    font-size: 30px;
    width: 340px;
}
.main p {
    font-size: 16px;
    width: 440px;
}
    
}

@media (max-width: 960px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-size: contain;
    }

    .header {
        padding: 30px 30px;
    }

    .header img {
        width: 150px;
    }

    .main {
        flex-direction: column;
        text-align: center;
    }

    .main img {
        max-width: 300px;
        padding: 30px 0;
    }

    .main .descricao {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }

    .main h1 {
        font-size: 20px;
        max-width: 260px;
    }

    .main p {
        max-width: 255px;
        font-size: 14px;
    }

    .main a {
        max-width: 250px;
        font-size: 16px;
    }

    .footer {
        justify-content: center;
        margin-top: 50px;
    }

    .footer a {
        width: 35px;
        height: 35px;
    }

    .footer .fab {
        width: 35px;
        height: 35px;
        font-size: 16px;  
    }
    }